<link rel="stylesheet" href="/style.css">


<sidebar>
    <h1 style="text-align: center; ">Pulse</h1>
    <aside class="sidebar">

        <div class="user-profile">
            <img src="/28.jpg" class="avatar">
            <br>
            <p>
                <%= name ? name : 'name' %>
            </p>
        </div>



        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/project-manager">Create project</a></li>
                <li><a href="/addteam">Add Teammember</a></li>
            </ul>
        </nav>
        <div class="logout-btn">
            <a href="/logout">Log Out</a>
        </div>

    </aside>

    </nav>
</sidebar>