<link rel="stylesheet" href="/style.css">


<sidebar>
    <h1 style="text-align: center;">Pulse</h1>
    <aside class="sidebar">
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/login">Login</a></li>

            </ul>
        </nav>
    </aside>

    </nav>
</sidebar>