<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Project Pulse</title>
</head>

<body style="margin-left: 180px;">
    <header>
        <%- include('header.ejs') %>
    </header>
    <main style="text-align: center;">
        <h2>Welcome to Project Pulse</h2>
        <p>Your project management solution.</p>


    </main>
    <%- include('footer.ejs') %>
</body>

</html>