<!DOCTYPE html>
<html>

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="/style4.css">
</head>

<body>
    <%- include('header.ejs') %>
        <form action="/auth/reset-password" method="post">
            <h2>Reset Password</h2>
            <input type="hidden" name="email" value="<%= email %>">

            <label for="password">New Password:</label>
            <input type="password" name="password" required>

            <div>
                <label for="password_confirm">Confirm New Password:</label>
                <input type="password" name="password_confirm" required>
            </div>
            <div>
                <button type="submit">Reset Password</button>
            </div>
        </form>
        </div>
        <%- include('footer.ejs') %>
</body>

</html>
