
    body {
        font-family: 'Arial', sans-serif;
        align-items: center;
        height: 100%;
        background-color: #f3f4f6;
        justify-content: space-between;
        font-size: 16px;
    }

    form {
        margin-top: -20%;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        width: 400px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="password"] {
        width: 80%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    button {
        margin-top: 20px;
        background-color: #0e447e;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #599ee9;
    }
h1{
    width: 1400px;
}